# IDE-specific files and directories
.project
.settings/
.classpath

# Maven output files and directories
target/

# Gradle output files and directories
.gradle/
build/

# Compiled class file
*.class

